In [2]:
import pandas as pd
import numpy as np
import re
import fasttext
from tqdm import tqdm_notebook
from keras import layers
from keras.layers import LSTM, Activation, Dropout, Dense, Input, Bidirectional
from keras.layers.embeddings import Embedding
from keras.models import Model
from keras.callbacks import EarlyStopping,ModelCheckpoint
import keras
from keras.models import Sequential
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences

In [42]:
train=pd.read_csv('train_data.csv') #모델 학습 파일
test=pd.read_csv('test_data.csv') #모델 시험지 파일
submission=pd.read_csv('sample_submission.csv')#답안지 파일

In [122]:
submission0=submission

In [44]:
train.isnull().sum() #결측치 확인

index        0
title        0
topic_idx    0
dtype: int64

In [45]:
train.topic_idx.value_counts() #label 비율 확인

4    7629
2    7362
5    6933
6    6751
1    6222
3    5933
0    4824
Name: topic_idx, dtype: int64

In [46]:
# 필요없는 단어 지우기
def word_delete(title):
    delete_word = [
        "1보",
        "2보",
        "3보",
        "4보",
        "5보",
        "속보",
        "사진",
        "게시판",
        "주말 N",
        "QA",
        "그래픽",
        "국내",
        "동정",
        "속보",
        "신간",
        "위클리",
        "주간 화제의 뉴스",
        "카드뉴스",
        "팩트체크",
    ]
    for i in delete_word:
        if title.endswith(i) or title.startswith(i):
            title = title.replace(i, "")
    if title.endswith("종합"):
        title = title[:-2]
    title = title.replace("↑", " 증가")
    title = title.replace("↓", " 감소")
    title = title.replace("→", "에서 ")
    title = title.replace("~", "에서 ")
    title = title.replace("...", ". ")
    title = title.replace("·", " 그리고 ")
    title = title.replace(":", " 대 ")
    title = title.upper()
    return title


def chinese_char(text):
    import re

    # 2단어 이상
    text = re.sub("外人", "외국사람", text)
    text = re.sub("詩人", "시인", text)
    text = re.sub("日人", "일본사람", text)
    if re.search(r"[0-9]人", text):
        text = re.sub("人", "명", text)
    text = re.sub("人", "사람", text)
    text = re.sub("中企", "중소기업", text)
    text = re.sub("令和", "", text)
    text = re.sub("不備", "준비 안되다.", text)
    text = re.sub("印尼", "인도네시아", text)
    text = re.sub("반反", "반대", text)
    text = re.sub("부富", "재산", text)
    text = re.sub("^書香萬里", "", text)
    text = re.sub("最古", "가장 오래된", text)
    text = re.sub("^社告", "", text)
    text = re.sub("對野", "야당", text)
    text = re.sub("氷魚", "", text)
    text = re.sub("眞朴", "박근혜와 친한", text)
    text = re.sub("非朴", "박근혜와 반대", text)
    text = re.sub("破七", "", text)
    text = re.sub("私黨", "개인의 당", text)
    text = re.sub("親朴", "박근혜와 친한", text)
    text = re.sub("邪敎", "사이비 종교", text)
    if re.search("[가-핳]銀", text):
        text = re.sub("銀", "은행", text)
    text = re.sub("非文", "문재인 반대", text)
    text = re.sub("四體", "", text)
    text = re.sub("潘風", "반기문 세력", text)
    text = re.sub("駐英", "영국 주재원", text)
    text = re.sub("高法", "고등법원", text)

    # 개별 단어
    text = re.sub("丁", "정세균", text)  # 사람의 성씨 지금은 정세균 국회의장 #3
    text = re.sub("七", "칠", text)  # 사람이름으로 사용됨 괄호 안에 #1
    text = re.sub("三", "삼", text)  # 3색으로 사용된 괄호 안에 #1
    text = re.sub("中", "중국", text)  # 중국 #771
    text = re.sub("乙", "을", text)  # 차선의 의미, 을말고 다른 단어를 사용하는 것이 좋아보임 #2
    text = re.sub("亞", "아시아", text)  # 23
    text = re.sub(
        "人", "명", text
    )  # 숫자人 : 명, 한글人 : 사람(국석기人), 外人 : 외국인, 詩人 : 시인, 日人 : 일본인 #13
    text = re.sub("仙", "선", text)  # 神仙 : 신선 #1
    text = re.sub("代", "대", text)  # 대를 잇다, 숫자代 : 10대
    text = re.sub("令", "령", text)  # 일본 연호 레이와(令和)에 사용 #1 # 명령에도 사용
    text = re.sub("企", "기", text)  # 中企 : 중소기업 으로 사용됨 모두 다 #14
    text = re.sub("伊", "이탈리아", text)  # 127
    text = re.sub("佛", "프랑스", text)  # 90
    text = re.sub("備", "비", text)  # 不備 : 불비, 갖추지않음
    text = re.sub("先", "먼저", text)  # 7
    text = re.sub("內", "안에", text)  # 지역內 : 어디안에 #1
    text = re.sub("全", "전체", text)  # 3
    text = re.sub("分", "당을 나누다.", text)  # 당을 나누다 #3 分黨: 분당
    text = re.sub("前", "이전", text)  # 이전 #94
    text = re.sub("北", "북한", text)  # 1293
    text = re.sub("千", "천정배", text)  # 국민의 당 천정배 #7
    text = re.sub("協", "협회", text)  # 화합할 협 #2
    text = re.sub("南", "한국", text)  # 36
    text = re.sub("印", "인도", text)  # 印尼 : 인도네시아 # 8(7,1)
    text = re.sub("反", "반대", text)  # 반反 -> 반(反)로 추정 #52
    text = re.sub("古", "오래된", text)  # 最古 -> 최고 # 1
    text = re.sub("史", "역사", text)  # 3
    text = re.sub("告", "고", text)  # 社告 -> 사고(회사광고) 맨 앞에 게시판 처럼 나옴 삭제필 # 2
    text = re.sub("和", "통합", text)  # 1개는 통합 나머지 하나는 令和(일본 연호) # 2
    text = re.sub("四", "4", text)  # 四體 -> 4가지 글씨체 # 1
    text = re.sub("在", "", text)  # 뭔의미인지 모르겠음 在伊 -> 뜻이 안나옴 # 1
    text = re.sub(
        "外", "외", text
    )  # 단독: ~외 몇건 삭제 필, 外人 : 외인 기사 맨앞(게시판)으로 사용 되거나 외국인으로 사용됨 삭제해도 무방할듯 # 24
    text = re.sub("大", "대학교", text)  # 大戰 : 대결, 大寒 : 절기 중 대한
    text = re.sub("妻", "부인", text)  # 1
    text = re.sub("委", "워원회", text)  # 7
    text = re.sub("子", "아들", text)  # 1
    text = re.sub("孫", "손학규", text)  # 손학규 # 14
    text = re.sub("安", "안철수", text)  # 안철수 # 61
    text = re.sub("家", "집안", text)  # 가문 주로 기업뒤에 붙어 사용 # 6
    text = re.sub("富", "재산", text)  # 재산 부富 -> 부(富) # 2
    text = re.sub("寒", "한", text)  # 절기 대한 # 1
    text = re.sub("對", "대결", text)  # 對野 대야 대야당 # 21
    text = re.sub("小", "", text)  # 작다 #1 삭제무방
    text = re.sub("尹", "윤석열", text)  # 윤석열 # 2
    text = re.sub("尼", "", text)  # 인도네시아 뒷 글자 # 2
    text = re.sub("展", "전시회", text)  # 19
    text = re.sub("山", "산", text)  # 1
    text = re.sub("島", "섬", text)  # 1
    text = re.sub("崔", "최순실", text)  # 최순실 # 4
    text = re.sub("州", "도시", text)  # 미국의 주, 시나 도시로 변경 # 4
    text = re.sub("巨", "큰", text)  # 巨野 거야(큰야당) 로 사용 # 2
    text = re.sub("市", "도시", text)  # 도시 # 1
    text = re.sub("式", "방식", text)  # 방법 # 1
    text = re.sub("弗", "달러", text)  # 돈, 달러 # 8
    text = re.sub("强", "강하다", text)  # 1
    text = re.sub("後", "뒤", text)  # 4
    text = re.sub("心", "마음", text)  # 4
    text = re.sub("情", "정", text)  # 1
    text = re.sub("惡", "악", text)  # 2
    text = re.sub("戰", "전투", text)  # 大戰로 사용됨 모두 # 2
    text = re.sub("政", "정부", text)  # 1
    text = re.sub("故", "", text)  # 죽은 사람 삭제해도 될듯 # 25
    text = re.sub("敎", "종교", text)  # 1
    text = re.sub("文", "문재인", text)  # 181
    text = re.sub("料", "요금", text)  # 1
    text = re.sub("新", "새로운", text)  # 17
    text = re.sub("日", "일본", text)  # 460
    text = re.sub("書", "서", text)  # 書香萬里 로 기사 제목 앞에 사용됨(게시판) # 2
    text = re.sub(
        "曺", "조국 법무부장관", text
    )  # 조국 # 11 조국이라는 이름이 나라라는 뜻이 있을 수 있어 다른 방법의 치환이 필요해 보임
    text = re.sub("最", "최", text)  # 最古 # 1
    text = re.sub("月", "한 달", text)  # 5
    text = re.sub("朴", "박근혜", text)  # 박근혜 # 659
    text = re.sub("株", "주식", text)  # 18
    text = re.sub("核", "핵폭탄", text)  # 3
    text = re.sub("案", "안건", text)  # 2
    text = re.sub("機", "기계", text)  # 1
    text = re.sub("檢", "검찰", text)  # 73
    text = re.sub("比", "대비", text)  # 12
    text = re.sub("氣", "기", text)  # 2
    text = re.sub("氷", "빙", text)  # 氷魚 삭제해도 될듯 # 1
    text = re.sub("江", "강", text)  # 1
    text = re.sub("法", "법", text)  # 7
    text = re.sub("洪", "홍경영", text)  # 정치인 # 2
    text = re.sub("海", "해", text)  # 西海 서해 # 1
    text = re.sub("港", "항구", text)  # 1
    text = re.sub("湖", "호수", text)  # 1
    text = re.sub("潘", "반기문", text)  # 8
    text = re.sub("無", "없다", text)  # 9
    text = re.sub("煎", "전", text)  # 花煎 화전 # 1 삭제
    text = re.sub("燈", "조명", text)  # 2
    text = re.sub("父", "아버지", text)  # 3
    text = re.sub("獨", "독일", text)  # 137
    text = re.sub("王", "왕", text)  # 1
    text = re.sub("現", "현재", text)  # 1
    text = re.sub("生", "삶", text)  # 1
    text = re.sub("申", "신", text)  # 2 # 삭제도 가능
    text = re.sub("男", "남자", text)  # 11
    text = re.sub("發", "발생", text)  # 7
    text = re.sub("百", "백화점", text)  # 6
    text = re.sub("眞", "진", text)  # 眞朴 : 박근혜와 친한, 非朴 # 박근혜 반대 # 2
    text = re.sub("知", "", text)  # 1 # 삭제
    text = re.sub("破", "포", text)  # 破七 사람이름 삭제 # 1
    text = re.sub("硏", "연구소", text)  # 27
    text = re.sub("社", "회사", text)  # 社告 는 삭제 # 5
    text = re.sub("神", "신", text)  # 神仙 # 1
    text = re.sub("禹", "우병우", text)  # 정치인 11
    text = re.sub("私", "사", text)  # 사적인 私黨: 사당 개인의 당 # 1
    text = re.sub("秋", "추미애", text)  # 정치인 # 9
    text = re.sub("稅", "세금", text)  # 1
    text = re.sub("空", "공", text)  # 空約 공약 # 1
    text = re.sub("童", "동", text)  # 아이 童心 동심 # 1
    text = re.sub("約", "약", text)  # 空約 공약 # 1
    text = re.sub("美", "미국", text)  # 1467
    text = re.sub("脫", "벗어난", text)  # 탈 # 3
    text = re.sub("臺", "대만", text)  # 1
    text = re.sub("與", "여당", text)  # 290
    text = re.sub("舊", "구", text)  # 예전 # 1
    text = re.sub("色", "색", text)  # 5
    text = re.sub("花", "화", text)  # 삭제 화전
    text = re.sub("英", "영국", text)  # 283
    text = re.sub("茶", "차", text)  # 삭제 # 1
    text = re.sub("萬", "만", text)  # 書香萬里 삭제
    text = re.sub("號", "팀", text)  # 12
    text = re.sub("行", "행", text)  # 삭제도 가능 할 듯 # 44
    text = re.sub("西", "서", text)  # 西海 서해 1
    text = re.sub("親", "친한", text)  # 親朴 친박 친한 박근혜 # 13
    text = re.sub("詩", "시", text)  # 시조 도 좋을 듯 # 14
    text = re.sub("誌", "지", text)  # 1
    text = re.sub("說", "가설", text)  # 1
    text = re.sub("論", "논의", text)  # 2
    text = re.sub("證", "증권", text)  # 7
    text = re.sub("賞", "상", text)  # 1
    text = re.sub("趙", "조윤선", text)  # 정치인 # 1
    text = re.sub("車", "자동차", text)  # 14
    text = re.sub("軍", "군대", text)  # 69
    text = re.sub("通", "통화", text)  # 1
    text = re.sub("道", "도로", text)  # 1
    text = re.sub("選", "선별", text)  #  1
    text = re.sub("邪", "사", text)  # 邪敎 사이비 종교
    text = re.sub("鄭", "정진석", text)  # 정치인 # 1
    text = re.sub("酒", "주", text)  # 삭제 # 1
    text = re.sub("醫", "의사 협회", text)  # 1
    text = re.sub("里", "리", text)  # 書香萬里 삭제 # 2
    text = re.sub("重", "중공업", text)  # 18
    text = re.sub("野", "야당", text)  # 180
    text = re.sub("金", "김정은", text)  # 북한 머리 # 12
    text = re.sub("銀", "은메달", text)  # 18 # 은행 하나銀, 은메달 銀
    text = re.sub("銅", "동메달", text)  # 2
    text = re.sub("阿", "아시아", text)  # 2
    text = re.sub("院", "구성원", text)  # 2
    text = re.sub("靑", "청와대", text)  # 377
    text = re.sub("非", "아닌", text)  # 非文 : 문제인 반대, 非朴 : 박근혜 반대
    text = re.sub("韓", "한국", text)  # 109
    text = re.sub("風", "세력", text)  # 潘風 : 반기문 세력, # 6
    text = re.sub("香", "", text)  # 書香萬里 삭제 # 2
    text = re.sub("駐", "주재원", text)  # 駐英 : 영국 주재원 # 8
    text = re.sub("體", "체", text)  # 四體 삭제 # 1
    text = re.sub("高", "높은", text)  # 高法 : 고등법원 # 3
    text = re.sub("魚", "어", text)  # 빙어 삭제 # 1
    text = re.sub("黃", "황교안", text)  # 정치인 # 16
    text = re.sub("黨", "정당", text)  # 13
    return text


# 불필요한 텍스트 제거
def clean_text(title):
    title_clean = re.sub("[^가-힣ㄱ-ㅎㅏ-ㅣa-zA-Z0-9\\s.%]", " ", title)
    title_clean = re.sub(" +", " ", title_clean)
    title_clean = title_clean.strip()
    return title_clean


def word_eda(title):
    title = word_delete(title)
    title = chinese_char(title)
    title = clean_text(title)
    return title

In [47]:
train2=train

In [48]:
train2["title"] = train2["title"].apply(word_eda) #단어 바꾸기, 필요없는 단어 삭제

In [49]:
train2.head(9)

   index                                       title  topic_idx
0      0                  인천에서 핀란드 항공기 결항 휴가철 여행객 분통          4
1      1             실리콘밸리 넘어서겠다 구글 15조원 들여 미국전역 거점화          4
2      2              이란 외무 긴장완화 해결책은 미국이 경제전쟁 멈추는 것          4
3      3             NYT 클린턴 측근한국기업 특수관계 조명 공과 사 맞물려          4
4      4                   시진핑 트럼프에 중미 무역협상 조속 타결 희망          4
5      5             팔레스타인 가자지구서 16세 소년 이스라엘군 총격에 사망          4
6      6                  인도 48년 만에 파키스탄 공습 테러 캠프 폭격          4
7      7  미국대선 TV토론 음담패설 만회실패 트럼프 사과 대신 빌클린턴 공격해 역효과          4
8      8              푸틴 한반도 상황 진전 위한 방안 김정은 위원장과 논의          4

In [50]:
from konlpy.tag import *
okt = Okt()
hannanum=Hannanum()

In [51]:
train3=train2

In [52]:
# 조사, 어미, 구두점 제거
def func(text):
    clean = []
    for word in okt.pos(text, stem=True): #어간 추출
        if word[1] not in ['Josa', 'Eomi', 'Punctuation']: #조사, 어미, 구두점 제외 
            clean.append(word[0])
    
    
    return " ".join(clean) 

train3['title'] = train3['title'].apply(lambda x : func(x)) #train3는 조사, 어미, 구두점 제거

In [53]:
import re
from konlpy.tag import Okt,Mecab
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.model_selection import StratifiedKFold
from sklearn.metrics import accuracy_score,f1_score
from lightgbm import LGBMClassifier

from konlpy.tag import Okt
from konlpy.tag import Kkma

okt = Okt()
kkma = Kkma()

In [54]:
!pip install lightgbm

Requirement already satisfied: lightgbm in c:\users\lsj70\anaconda3\lib\site-packages (3.3.2)
Requirement already satisfied: wheel in c:\users\lsj70\anaconda3\lib\site-packages (from lightgbm) (0.36.2)
Requirement already satisfied: numpy in c:\users\lsj70\anaconda3\lib\site-packages (from lightgbm) (1.16.6)
Requirement already satisfied: scikit-learn!=0.22.0 in c:\users\lsj70\anaconda3\lib\site-packages (from lightgbm) (0.24.1)
Requirement already satisfied: scipy in c:\users\lsj70\anaconda3\lib\site-packages (from lightgbm) (1.6.2)
Requirement already satisfied: joblib>=0.11 in c:\users\lsj70\anaconda3\lib\site-packages (from scikit-learn!=0.22.0->lightgbm) (1.0.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\lsj70\anaconda3\lib\site-packages (from scikit-learn!=0.22.0->lightgbm) (2.1.0)

In [55]:
train3.head(9)

   index                                              title  topic_idx
0      0                          인천 핀란드 항공기 결항 휴가 철 여행객 분통          4
1      1                  실리콘밸리 넘어서다 구글 15조원 들이다 미국 전역 거점 화          4
2      2                    이란 외무 긴장 완화 해결 책 미국 경제 전쟁 멈추다 것          4
3      3              NYT 클린턴 측근 한국 기업 특수 관계 조명 공과 사 맞다 물리다          4
4      4                          시진핑 트럼프 중미 무역 협상 조속 타결 희망          4
5      5                     팔레스타인 가자지구 16 세 소년 이스라엘군 총격 사망          4
6      6                            인도 48년 파키스탄 공습 테러 캠프 폭격          4
7      7  미국 대선 TV 토론 음담패설 만회 실패 트럼프 사과 대신 빌다 클린턴 공격 하다 역효과          4
8      8                       푸틴 한반도 상황 진전 위 방안 김정은 위원장 논의          4

In [ ]:
for i in range(len(train3)):
    print(okt.morphs(train3.iloc[i,1]))

In [ ]:
for i in range(len(train3)):
    print(okt.nouns(train3.iloc[i,1]))

In [ ]:
for i in range(len(train)):
    print(okt.pos(train3.iloc[i,1]))

In [59]:
train4=train3 #train4는 train3에서 토큰화

In [60]:
train4

       index                                  title  topic_idx
0          0              인천 핀란드 항공기 결항 휴가 철 여행객 분통          4
1          1      실리콘밸리 넘어서다 구글 15조원 들이다 미국 전역 거점 화          4
2          2        이란 외무 긴장 완화 해결 책 미국 경제 전쟁 멈추다 것          4
3          3  NYT 클린턴 측근 한국 기업 특수 관계 조명 공과 사 맞다 물리다          4
4          4              시진핑 트럼프 중미 무역 협상 조속 타결 희망          4
...      ...                                    ...        ...
45649  45649           KB 금융 미국 IB 스티펠 제휴 선진국 시장 공략          1
45650  45650      서울시 교육청 신종 코로나 확산 개학 연기 그리고 휴업 검토          2
45651  45651          키우다 증권 2020 키우다 영웅 전 실전 투자 대회          1
45652  45652                 답변 하다 배 기동 국립 중앙 박물관 장          2
45653  45653  2020 한국 인터넷 기자 상 시상식 내달 1일 개최 특별상 김성후          2

[45654 rows x 3 columns]

In [61]:
test

      index                            title
0     45654       유튜브 내달 2일까지 크리에이터 지원 공간 운영
1     45655          어버이날 맑다가 흐려져…남부지방 옅은 황사
2     45656      내년부터 국가RD 평가 때 논문건수는 반영 않는다
3     45657  김명자 신임 과총 회장 원로와 젊은 과학자 지혜 모을 것
4     45658   회색인간 작가 김동식 양심고백 등 새 소설집 2권 출간
...     ...                              ...
9126  54780     인천 오후 3시35분 대설주의보…눈 3.1cm 쌓여
9127  54781    노래방에서 지인 성추행 외교부 사무관 불구속 입건종합
9128  54782     40년 전 부마항쟁 부산 시위 사진 2점 최초 공개
9129  54783    게시판 아리랑TV 아프리카개발은행 총회 개회식 생중계
9130  54784  유영민 과기장관 강소특구는 지역 혁신의 중심…지원책 강구

[9131 rows x 2 columns]

In [62]:
test2

      index                                  title
0     45654            유튜브 내달 2일 까지 크리에이터 지원 공간 운영
1     45655               어버이날 맑다 흐려지다 남부 지방 옅다 황사
2     45656              내년 국가 RD 평가 때 논문 건수 반영 않다
3     45657        김명자 신임 과총 회장 원로 젊다 과학자 지혜 모으다 것
4     45658  회색 인간 작가 김 동식 양심 고백 등 새 소설 집 2 권 추다 간
...     ...                                    ...
9126  54780        인천 오후 3시 35분 대설주의보 눈 3.1 CM 쌓이다
9127  54781              노래방 지인 성추행 외교부 사무관 불구속 입건
9128  54782          40년 전 부마항쟁 부산 시위 사진 2 점 최초 공개
9129  54783          아리랑 TV 아프리카 개발 은행 총회 개회 식 생중계
9130  54784       유영민 과 기 장관 강소특구 지역 혁신 중심 지원 책 강구

[9131 rows x 2 columns]

In [63]:
test2=test

In [64]:
test2["title"] = test2["title"].apply(word_eda) #단어 바꾸기, 필요없는 단어 삭제 ==test2

In [65]:
test3=test2

In [66]:
# 조사, 어미, 구두점 제거
def func(text):
    clean = []
    for word in okt.pos(text, stem=True): #어간 추출
        if word[1] not in ['Josa', 'Eomi', 'Punctuation']: #조사, 어미, 구두점 제외 
            clean.append(word[0])
    
    
    return " ".join(clean) 

test3['title'] = test3['title'].apply(lambda x : func(x)) #test3는 조사, 어미, 구두점 제거

In [67]:
import pandas as pd
import re
from konlpy.tag import Okt,Mecab
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.model_selection import StratifiedKFold
from sklearn.metrics import accuracy_score,f1_score
from lightgbm import LGBMClassifier

In [68]:
train33

       index                                              title  topic_idx
0          0                 [인천, 핀란드, 항공기, 결항, 휴가, 철, 여행객, 분통]          4
1          1        [실리콘밸리, 넘어서다, 구글, 15조원, 들이다, 미국, 전역, 거점, 화]          4
2          2        [이란, 외무, 긴장, 완화, 해결, 책, 미국, 경제, 전쟁, 멈추다, 것]          4
3          3  [NYT, 클린턴, 측근, 한국, 기업, 특수, 관계, 조명, 공과, 사, 맞다, ...          4
4          4                 [시진핑, 트럼프, 중미, 무역, 협상, 조속, 타결, 희망]          4
...      ...                                                ...        ...
45649  45649             [KB, 금융, 미국, IB, 스티펠, 제휴, 선진국, 시장, 공략]          1
45650  45650       [서울시, 교육청, 신종, 코로나, 확산, 개학, 연기, 그리고, 휴업, 검토]          2
45651  45651            [키우다, 증권, 2020, 키우다, 영웅, 전, 실전, 투자, 대회]          1
45652  45652                    [답변, 하다, 배, 기동, 국립, 중앙, 박물관, 장]          2
45653  45653  [2020, 한국, 인터넷, 기자, 상, 시상식, 내달, 1일, 개최, 특별상, 김성후]          2

[45654 rows x 3 columns]

In [75]:
from pprint import pprint

In [73]:
train3

       index                                  title  topic_idx
0          0              인천 핀란드 항공기 결항 휴가 철 여행객 분통          4
1          1      실리콘밸리 넘어서다 구글 15조원 들이다 미국 전역 거점 화          4
2          2        이란 외무 긴장 완화 해결 책 미국 경제 전쟁 멈추다 것          4
3          3  NYT 클린턴 측근 한국 기업 특수 관계 조명 공과 사 맞다 물리다          4
4          4              시진핑 트럼프 중미 무역 협상 조속 타결 희망          4
...      ...                                    ...        ...
45649  45649           KB 금융 미국 IB 스티펠 제휴 선진국 시장 공략          1
45650  45650      서울시 교육청 신종 코로나 확산 개학 연기 그리고 휴업 검토          2
45651  45651          키우다 증권 2020 키우다 영웅 전 실전 투자 대회          1
45652  45652                 답변 하다 배 기동 국립 중앙 박물관 장          2
45653  45653  2020 한국 인터넷 기자 상 시상식 내달 1일 개최 특별상 김성후          2

[45654 rows x 3 columns]

In [118]:
train3.head()

   index                                  title  topic_idx
0      0              인천 핀란드 항공기 결항 휴가 철 여행객 분통          4
1      1      실리콘밸리 넘어서다 구글 15조원 들이다 미국 전역 거점 화          4
2      2        이란 외무 긴장 완화 해결 책 미국 경제 전쟁 멈추다 것          4
3      3  NYT 클린턴 측근 한국 기업 특수 관계 조명 공과 사 맞다 물리다          4
4      4              시진핑 트럼프 중미 무역 협상 조속 타결 희망          4

In [124]:
tfidf_vect.transform(train3['title']).toarray()

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [120]:
train3['title'].shape

(45654,)

In [94]:
train33

       index                                  title  topic_idx
0          0              인천 핀란드 항공기 결항 휴가 철 여행객 분통          4
1          1      실리콘밸리 넘어서다 구글 15조원 들이다 미국 전역 거점 화          4
2          2        이란 외무 긴장 완화 해결 책 미국 경제 전쟁 멈추다 것          4
3          3  NYT 클린턴 측근 한국 기업 특수 관계 조명 공과 사 맞다 물리다          4
4          4              시진핑 트럼프 중미 무역 협상 조속 타결 희망          4
...      ...                                    ...        ...
45649  45649           KB 금융 미국 IB 스티펠 제휴 선진국 시장 공략          1
45650  45650      서울시 교육청 신종 코로나 확산 개학 연기 그리고 휴업 검토          2
45651  45651          키우다 증권 2020 키우다 영웅 전 실전 투자 대회          1
45652  45652                 답변 하다 배 기동 국립 중앙 박물관 장          2
45653  45653  2020 한국 인터넷 기자 상 시상식 내달 1일 개최 특별상 김성후          2

[45654 rows x 3 columns]

In [95]:
# tf-idf를 이용한 벡터화
def split(text):
    tokens_ko = text.split()
    return tokens_ko

tfidf_vect = TfidfVectorizer(tokenizer=split)
tfidf_vect.fit(train3['title'])
tfidf_matrix_train = tfidf_vect.transform(train3['title'])

C:\Users\lsj70\Anaconda3\lib\site-packages\sklearn\feature_extraction\text.py:489: UserWarning: The parameter 'token_pattern' will not be used since 'tokenizer' is not None'
  warnings.warn("The parameter 'token_pattern' will not be used"

In [96]:
tfidf_matrix_train

<45654x30316 sparse matrix of type '<class 'numpy.float64'>'
	with 430265 stored elements in Compressed Sparse Row format>

In [97]:
# train/valid 데이터 셋 나누기.
def split_dataset(tfidf,df):
    X_data = tfidf
    y_data = df['topic_idx']

    # stratify=y_data Stratified 기반 분할, train 데이터의 30%를 평가 데이터 셋으로 사용. (70% 데이터 학습에 사용)
    X_train, X_test, y_train, y_test = \
    train_test_split(X_data, y_data, test_size=0.3, random_state=42, stratify=y_data)

    
    return (X_train, X_test, y_train, y_test)

X_train, X_test, y_train, y_test = split_dataset(tfidf_matrix_train,train)

# LGBM

In [98]:
lgbm = LGBMClassifier(random_state = 42)
lgbm.fit(X_train,y_train)

LGBMClassifier(random_state=42)

In [99]:
pred = lgbm.predict(X_test)
accuracy = accuracy_score(y_test,pred)

print('정확도', accuracy)

정확도 0.8098123676717529

In [100]:
test33=test3

pandas.core.series.Series

pandas.core.series.Series

In [101]:
test3['title'] = test3['title'].apply(lambda x : func(x))

In [102]:
tfidf_matrix_test = tfidf_vect.transform(test3['title'])

In [103]:
pred = lgbm.predict(tfidf_matrix_test)

In [106]:
submission['topic_idx'] = pred
submission.head()

   index  topic_idx
0  45654          2
1  45655          3
2  45656          2
3  45657          2
4  45658          3

In [108]:
submission.to_csv('news_submission1.csv',index = False)

# Logistic Regresion

In [141]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

# Logistic Regresion을 이용해 학습/예측/평가 수행 
lr_clf = LogisticRegression()
lr_clf.fit(X_train, y_train)
pred = lr_clf.predict(X_test)

print('CountVectorized Logistic Regression의 예측 정확도는 {0:.3f}'.format(accuracy_score(y_test, pred)))

CountVectorized Logistic Regression의 예측 정확도는 0.839

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [142]:
pred = lr_clf.predict(tfidf_matrix_test)

In [143]:
submission['topic_idx'] = pred
submission.head()

   index  topic_idx
0  45654          2
1  45655          3
2  45656          2
3  45657          2
4  45658          3

In [144]:
submission.to_csv('news_submission2.csv',index = False)

In [ ]:
#파라미터 튜닝

In [145]:
# Logistic Regresion을 이용해 학습/예측/평가 수행 
lr_clf = LogisticRegression(C=100)
lr_clf.fit(X_train, y_train)
pred = lr_clf.predict(X_test)

print('CountVectorized Logistic Regression의 예측 정확도는 {0:.3f}'.format(accuracy_score(y_test, pred)))

CountVectorized Logistic Regression의 예측 정확도는 0.825

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [146]:
# Logistic Regresion을 이용해 학습/예측/평가 수행 
lr_clf = LogisticRegression(C=0.1)
lr_clf.fit(X_train, y_train)
pred = lr_clf.predict(X_test)

print('CountVectorized Logistic Regression의 예측 정확도는 {0:.3f}'.format(accuracy_score(y_test, pred)))

CountVectorized Logistic Regression의 예측 정확도는 0.796

In [147]:
# Logistic Regresion을 이용해 학습/예측/평가 수행 
lr_clf = LogisticRegression(C=1)
lr_clf.fit(X_train, y_train)
pred = lr_clf.predict(X_test)

print('CountVectorized Logistic Regression의 예측 정확도는 {0:.3f}'.format(accuracy_score(y_test, pred)))

CountVectorized Logistic Regression의 예측 정확도는 0.839

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [148]:
# Logistic Regresion을 이용해 학습/예측/평가 수행 
lr_clf = LogisticRegression(C=10)
lr_clf.fit(X_train, y_train)
pred = lr_clf.predict(X_test)

print('CountVectorized Logistic Regression의 예측 정확도는 {0:.3f}'.format(accuracy_score(y_test, pred)))

CountVectorized Logistic Regression의 예측 정확도는 0.835

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [149]:
# Logistic Regresion을 이용해 학습/예측/평가 수행 
lr_clf = LogisticRegression(C=5)
lr_clf.fit(X_train, y_train)
pred = lr_clf.predict(X_test)

print('CountVectorized Logistic Regression의 예측 정확도는 {0:.3f}'.format(accuracy_score(y_test, pred)))

CountVectorized Logistic Regression의 예측 정확도는 0.840

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [151]:
# Logistic Regresion을 이용해 학습/예측/평가 수행 
lr_clf = LogisticRegression(C=6)
lr_clf.fit(X_train, y_train)
pred = lr_clf.predict(X_test)

print('CountVectorized Logistic Regression의 예측 정확도는 {0:.3f}'.format(accuracy_score(y_test, pred)))

CountVectorized Logistic Regression의 예측 정확도는 0.841

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [152]:
pred = lr_clf.predict(tfidf_matrix_test)

In [153]:
submission['topic_idx'] = pred
submission.head()

   index  topic_idx
0  45654          3
1  45655          3
2  45656          6
3  45657          0
4  45658          3

In [154]:
submission.to_csv('news_submission3.csv',index = False)

In [161]:
# Logistic Regresion을 이용해 학습/예측/평가 수행 
lr_clf = LogisticRegression(C=6, max_iter=500)
lr_clf.fit(X_train, y_train)
pred = lr_clf.predict(X_test)

print('CountVectorized Logistic Regression의 예측 정확도는 {0:.3f}'.format(accuracy_score(y_test, pred)))

CountVectorized Logistic Regression의 예측 정확도는 0.841

In [176]:
# Logistic Regresion을 이용해 학습/예측/평가 수행 

lr_clf = LogisticRegression(C=6, max_iter=500, penalty='l2')
lr_clf.fit(X_train, y_train)
pred = lr_clf.predict(X_test)

print('CountVectorized Logistic Regression의 예측 정확도는 {0:.3f}'.format(accuracy_score(y_test, pred)))

CountVectorized Logistic Regression의 예측 정확도는 0.841

In [177]:
pred = lr_clf.predict(tfidf_matrix_test)

In [178]:
submission['topic_idx'] = pred
submission.head()

   index  topic_idx
0  45654          3
1  45655          3
2  45656          6
3  45657          0
4  45658          3

In [179]:
submission.to_csv('news_submission4.csv',index = False)

In [182]:
# Logistic Regresion을 이용해 학습/예측/평가 수행 

lr_clf = LogisticRegression(C=6, max_iter=500, penalty='l2', multi_class='ovr')
lr_clf.fit(X_train, y_train)
pred = lr_clf.predict(X_test)

print('CountVectorized Logistic Regression의 예측 정확도는 {0:.3f}'.format(accuracy_score(y_test, pred)))

CountVectorized Logistic Regression의 예측 정확도는 0.845

In [183]:
pred = lr_clf.predict(tfidf_matrix_test)

In [184]:
submission['topic_idx'] = pred
submission.head()

   index  topic_idx
0  45654          3
1  45655          3
2  45656          6
3  45657          0
4  45658          3

In [185]:
submission.to_csv('news_submission5.csv',index = False)

In [186]:
# Logistic Regresion을 이용해 학습/예측/평가 수행 

lr_clf = LogisticRegression(C=6, max_iter=500, penalty='l2', multi_class='multinomial')
lr_clf.fit(X_train, y_train)
pred = lr_clf.predict(X_test)

print('CountVectorized Logistic Regression의 예측 정확도는 {0:.3f}'.format(accuracy_score(y_test, pred)))

CountVectorized Logistic Regression의 예측 정확도는 0.841

In [187]:
pred = lr_clf.predict(tfidf_matrix_test)

In [188]:
submission['topic_idx'] = pred
submission.head()

   index  topic_idx
0  45654          3
1  45655          3
2  45656          6
3  45657          0
4  45658          3

In [189]:
submission.to_csv('news_submission6.csv',index = False)